/* page */
body {
    background-color: #ddd;
    color: #444;
}
h1, h2, h3 {
    font-family: Calibri, Verdana, sans-serif;
}
h3 {
    margin-top: 0;
}
p {
    font-family: Cambria, Georgia, serif;
    margin-top: 0;
}
a {
    font-family: Calibri, Verdata, sans-serif;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* layout */
#main {
    width: 65%;
    float: left;
}
#side {
    width: 33%;
    float: left;
    margin: 1%;
}

/* filler */
#filler {
    color: #999;
}

/* JobviteBox */
#jobvite {
    margin-bottom: 0.5em;
    padding: 0 1em 1em 1em;
    background-color: #eee;
    color: #555;
    max-height: 700px;
    min-height: 700px;
    overflow: auto;
}
div.jobvite-job {
    border-bottom: 1px solid #cdcdcd;
    padding: 0.5em 0 0.5em 0;
    margin-bottom: 0.5em;
}
span.jobvite-jobtitle {
    display: block;
    font-size: 1.2em;
}
span.jobvite-joblocation {
    display: block;
    font-style: italic;
}
span.jobvite-jobdescription {
    font-size: 1em;
}
span.jobvite-jobapply {
    display: inline-block;
    margin-left: 0.5em;
}
#prev, #next {
    cursor: pointer;
    color: blue;
}